.bEnlist {
    display: flex;
    gap: 16px;
}
.bEnlist a {
    appearance: none;
    height: 48px;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border: 1px solid black;
    transition: background-color 0.3s ease;
    color: black;
}

.bEnlist a:hover {
    background-color: #ffa600;
}

