:root {

  /* Fonts */
  --font-primary: 'Oswald', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;    
  --font-size-1m: 1.3rem;    
  --font-size-2m: 1.6rem;    
  --font-size-large: 2rem;
  --font-size-xl: 3rem;
  --font-size-1xl: 4rem;      
  --font-size-2xl: 6rem;       

  /* Colors */
  --color-primary: #ecf0f1;
  --color-secondary: #131b23;
  --color-tertiary: #eacb00;
  --color-background: #e2e2e23a;
  --color-border: #ffffff16;
  --color-filter: #00000090;

  --color-text-primary: #131b23;
  --color-text-secondary: #ecf0f1;

  /* Spacing */
  --space-3xs: 0.215em;
  --space-2xs: 0.5em;
  --space-xs: 0.785em;
  --space-s: 1em;
  --space-m: 1.5em;
  --space-l: 2em;
  --space-xl: 2.5em;
  --space-2xl: 3em;
  --space-3xl: 4em;
  --space-4xl: 5em;
  --space-5xl: 6em;

  /* Widths */
  --width-3xs: 4em;
  --width-2xs: 8em;
  --width-xs: 16em;
  --width-s: 24em;
  --width-m: 32em;
  --width-l: 48em;
  --width-xl: 64em;
  --width-2xl: 80em;
  --width-3xl: 96em;
  --width-4xl: 112em;
  --width-5xl: 128em;


  /* Border Radius */
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  /* Shadows */
  --shadow-small: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 10px 15px rgba(0, 0, 0, 0.2);
  --shadow-text: 0px 2px 10px rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-medium);
  color: var(color-text-primary);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}


